<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto healthwiseApp">
        <li class="nav-item"><a routerLink="/patient/dashboard" data-item="HealthWise App">HealthWise App</a></li>
      </ul>
      <ul class="navbar-nav menuItems">
        <li class="nav-item"><a routerLink="/patient/dashboard" data-item="Dashboard">Dashboard</a></li>
        <li class="nav-item"><a routerLink="/patient/appointments" data-item="Appointments">Appointments</a></li>
        <li class="nav-item"><a routerLink="/patient/bills" data-item="Bills">Bills</a></li>
        <li class="nav-item"><a routerLink="/patient/profile" data-item="Profile">Profile</a></li>
        <li class="nav-item"><a routerLink="/patient/logout" data-item="Logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  