.navbar-brand {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.navbar-brand:hover {
  opacity: 0.8;
}

.nav-link {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}


/* Flexbox setup for the body */
.main-content {
  min-height: 76vh;
}

/* Footer styles */
footer {
  background-color: #343a40; /* Dark background */
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Push footer to the bottom */
}
