<div class="my-bg">
  <form action="" class="form-container">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter your username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="Enter your password"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-center">Submit</button>
    <p>
      New User? <a routerLink="/register" class="text-primary">Register Here</a>
    </p>
  </form>
</div>
